body, html{
  height:100%;;
}
body{
  margin: 0px;
  font-size: 18px;
  background-image: url('/Images/map.jpg');
  background-color:#444;
}
body, a:link, a:visited, a:active{
  color: rgb(200, 192, 238);
  font-family: "Gill Sans", sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
    background: -moz-linear-gradient(top, #666, #000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}
a:hover {
  color: turquoise;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
  text-decoration: none;
}

.alternate {
  background-color: #777;
  text-decoration: none;
}
.topbar{
  height: 50px;
  background-color: #555;
}
.title{
  background-color: rgb(65, 63, 63);
}
.dancer{
  background-color: rgba(255, 0, 0, 0.4);
  position:absolute;
  width: 50px;
  height: auto;
}

.square{
  position:absolute;
  width: 15px;
  height: auto;
}

.rectangle{
  background-color: rgba(14, 124, 226, 0.4);
  height: auto;
  width: auto;
  position: absolute;
}
.assassin{
  position: absolute;
}
.lineUp{
  padding: 5px 12px;
  float: right;
}

.expander{
  border: 2px solid orange;
  position: absolute;
}

.background{
  width:100%;
  height:auto;
}

#danceAudio {
  position: fixed;
  bottom: 0;
  right: 0;
}